/*TITUTLO*/
h1 {
    text-align: center;
    border-bottom: 1px solid #4d4d4d;
}
/*TEXTO*/
#texto {
    margin-top: 1em;
}
#texto p {
    line-height: 1.5em;
    text-indent: 1em;
    text-align: justify;
}

/*
FORMULARIO
*/
#form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
#form form {
	display: flex;
	flex-direction: column;
    align-items: center;
    background-color: #ddd;
    padding: 1em;
    border: 5px solid #ccc;
    border-radius: 3px;
    margin-top: .5em;
}
#form h2 {
	padding: 10px;
}
#form form div {
	text-align: center;
	padding: 10px;
}

/*
MEDIA QUERIES
*/

@media screen and (min-width: 720px) {
    /*
    FORM
    */