/*GERAL*/
img {
    width: 400px;
    height: auto;
    border: 5px solid #4d4d4d;
    border-radius: 5px;
}
figure {
    width: 400px;
    height: auto;
}
h1 {
    border-bottom: 1px solid #ccc;
    text-align: center;
}

/*CADASTRO CORREDOR*/
.cadastro h2 {
    text-align: center;
}
.cadastro div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5em;
}
.cadastro div p {
    text-align: justify;
    text-indent: 1em;
}
.cadastro figure {
    margin-top: .5em;
    text-align: center;
}
.cadastro figcaption {
    margin-top: .3em;
}
.cadastro a {
    margin-top: .3em;
}

/*FOOTER*/
footer {
    margin-top: 1em;
}

/*MEDIA QUERIES*/

@media screen and (min-width: 720px) {
    h1 {
        text-align: left;
    }

    .cadastro div {
        display: inline-block;
    }
    .cadastro div p {
        text-align: justify;
        line-height: 1.5em;
    }

    /*CORREDOR*/
    #corredor a {
        float: right;
    }
    #corredor figure {
        float: left;
        margin-right: 1em;
    }
   #corredor h2 {
       text-align: left;
   }

   /*GRUPO*/
   #grupo a {
       float: left;
   }
   #grupo figure {
       float: right;
       margin-left: 1em;
   }
   #grupo h2 {
       text-align: right;
   }
}