/*
INTRODUÇÃO
*/
#intro {
    background-image: url(../img/man-run-fitness.jpg);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}
#intro p {
    margin: 2em 0;
    max-width: 1000px;
}


/*
SERVIÇOS
*/

#servicos {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#servicos div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}
#servicos div img {
    width: 400px;
}
#servicos div p{
    padding: 5px 0 0 0;
}
#servicos div h3 {
    padding-top: 5px;
}

/*
LOCALIZAÇÃO
*/

#map {
    width: 600px;
    height: 400px;
}

#localizacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#localizacao h2 {
    margin: 5px 0;
}
#localizacao div {
    margin: 5px 0;
}

/*
CONTATO
*/


#contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 10px;
}
#contato h2 {
    margin-bottom: 10px;
    padding: 10px
}
#contato img {
    width: 45px;
    height: 45px;
    
}
#contato div {
    padding: 15px;
}
/*
MEDIA QUERIES
*/

@media screen and (min-width: 720px) {    
    /*
    INTRODUÇÃO
    */
    #intro {
        height: 600px;
        height: 60vh;
        justify-content: center;
    }
    
    
    /*
    SERVIÇOS
    */
    #servicos {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        max-width: 1000px;
        margin: 0 auto;
    }
    #servicos h2 {
        width: 100%;
        text-align: center;
    }
    #servicos div {
        flex-grow: 1;
        flex-basis: 150px;
        padding: 0 10px;
    }
    #servicos div img {
        width: 300px;
    }
    /*
    CONTATO
    */
    #contato {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 500px;
        margin: 0 auto;
    }
    #contato h2,
    #contato p {
        width: 100%;
    }
    
}






